<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.dao.ApprecordMapper">
  <sql id="base_col_list">
        apprecord_Id,emp_id,project_id,patient_id,attend_Status,cost_Status
  </sql>
  <resultMap id="BaseResultMap" type="com.woniuxy.pojo.Apprecord">
    <id column="apprecord_id" jdbcType="INTEGER" property="apprecordId" />

    <result column="attend_status" jdbcType="VARCHAR" property="attendStatus" />
    <result column="cost_status" jdbcType="VARCHAR" property="costStatus" />
    <association property="emp" column="emp_id" javaType="Emp"  select="findOneEmp"></association>
    <association property="project" column="project_id" javaType="Project"  select="findOneProject" ></association>
    <association property="patient" column="patient_id" javaType="Patient"  select="findOnePatient"></association>
  </resultMap>
  <resultMap id="empMap" type="emp">
    <id column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="aroom_id" jdbcType="INTEGER" property="aroomId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_birthday" jdbcType="VARCHAR" property="empBirthday" />
    <result column="emp_grade" jdbcType="VARCHAR" property="empGrade" />
  </resultMap>
  <resultMap id="patientMap" type="patient">
    <id column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="patient_sex" jdbcType="VARCHAR" property="patientSex" />
    <result column="patient_count" jdbcType="INTEGER" property="patientCount" />
    <result column="patient_status" jdbcType="VARCHAR" property="patientStatus" />
  </resultMap>
  <resultMap id="projectMap" type="Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="skillgroup_id" jdbcType="INTEGER" property="skillgroupId" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="project_name" jdbcType="INTEGER" property="projectName" />
    <result column="project_cost" jdbcType="VARCHAR" property="projectCost" />
    <result column="project_comment" jdbcType="VARCHAR" property="projectComment" />

  </resultMap>
  <select id="findOneEmp" parameterType="int" resultMap="empMap">
    select * from emp
    <where>
      emp_Id =#{empId}
    </where>
  </select>
  <select id="findOnePatient" parameterType="int" resultMap="patientMap">
    select * from Patient
    <where>
      patient_Id =#{patientId}
    </where>
  </select>
  <select id="findOneProject" parameterType="int" resultMap="projectMap">
    select * from Project
    <where>
      Project_id =#{projectId}
    </where>
  </select>
  <select id="findAllByPage" parameterType="pageBean" resultMap="BaseResultMap">
    select <include refid="base_col_list"></include> from  Apprecord
    <where>
      <if test="queryVal!=null">
        patient_Id in (select patient_Id from patient where patient_name like CONCAT('%',#{queryVal},'%'))
      </if>
    </where>
    limit ${(nowPage-1)*pageRow},${pageRow}
  </select>
  <select id="countAll"  resultType="int">
    select count(*) from Apprecord
  </select>
  <delete id="delete" parameterType="int">
    delete from apprecord where apprecord_Id =#{apprecordId}
  </delete>
  <update id="update" parameterType="apprecord">
    update apprecord
    <set>

      <if test="emp.empId!=null">
        emp_id=#{emp.empId},
      </if>
      <if test="project.projectId!=null">
        project_id=#{project.projectId},
      </if>
      <if test="attendStatus!=null">
        attend_status=#{attendStatus},
      </if>
      <if test="costStatus!=null">
        cost_status=#{costStatus},
      </if>
    </set>
    <where>
      apprecord_id =#{apprecordId}
    </where>
  </update>
  <select id="findOne" parameterType="int" resultMap="BaseResultMap">
    select * from apprecord
    <where>patient_id=#{patientId}</where>
  </select>
  <insert id="book" parameterType="apprecord">
    insert into apprecord values (null,#{emp.empId},#{project.projectId},#{patient.patientId},#{attendStatus},#{costStatus})
  </insert>
</mapper>