<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.dao.QueueMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.pojo.Queue">
    <id column="queue_id" jdbcType="INTEGER" property="queueId" />
    <result column="queue_num" jdbcType="INTEGER" property="queueNum" />
    <result column="aroom_id" jdbcType="INTEGER" property="aroomId" />
  </resultMap>

  <sql id="base_col_list">
		queue_id,queue_num,aroom_id
  </sql>
  <!-- 全部-->
  <select id="findAll" parameterType="queue" resultMap="BaseResultMap" >
		select
           <include refid="base_col_list"></include>
		from queue
	</select>
  <!-- 分页和查询 -->
  <select id="queryByPage" parameterType="pageBean" resultMap="BaseResultMap" >
    select
    <include refid="base_col_list"></include>
    from queue
    <!-- 模糊查询条件 -->
    <where>
      <if test="queryVal!=null">

      </if>
    </where>
    <!-- limit 起始位置,每页行数 -->
    limit ${(nowPage-1)*pageRow},${pageRow}
  </select>
  <select id="countByPage" parameterType="pageBean" resultType="int">
    select count(*) from queue
    <where>
      <if test="queryVal!=null">

      </if>
    </where>
  </select>
  <!-- 增加 -->
  <insert id="save" parameterType="queue">
		insert into user
		values(#{queue_id},#{queue_num},#{aroom_id})
  </insert>
  <!--删除-->
   <delete id="delete" parameterType="java.lang.Integer" >
       delete from queue
       <where>
           queue_id=#{queueId}
       </where>
   </delete>
  <!-- 修改 -->
  <select id="findOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
       <include refid="base_col_list"></include>
    from queue
    where queue_id=#{queueId}
  </select>
  <update id="update" parameterType="queue">
    update queue
    <set>
      <if test="queueNum!=null">
        queue_num=#{queueNum},
      </if>
      <if test="aroomId!=null">
        aroom_id=#{aroomId},
      </if>
    </set>
    <where>
      queue_id=#{queueId}
    </where>
  </update>
</mapper>