<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.dao.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.pojo.Schedule">
    <id column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="datestart" jdbcType="TIME" property="datestart" />
    <result column="datelast" jdbcType="TIME" property="datelast" />
  </resultMap>
</mapper>