<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.dao.SourcetypeMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.pojo.Sourcetype">
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
		select * from sourcetype
	</select>
  <select id="findOne" parameterType="int" resultMap="BaseResultMap">
    select * from sourcetype where type_id = #{typeId}
  </select>
</mapper>